@font-face{
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: #f8f9fa;
}

.landing-page-container{
	animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.main-content{
    background: transparent;
    backdrop-filter: blur(20px);
}

@keyframes fade-in-bottom{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@media(max-width: 580px){
    .navbar-menus{
        display: none;
    }
    
    #navbar{
        margin-bottom: 5px !important;
    }

    .jhoms{
        width: 200px;
        border-radius: 50% !important;
        margin-bottom: 10px;
    }

    .my-image{
        display: flex;
        justify-content: center;
    }
}